<nav>
  <label for="">HELIOS</label>
    <ul>
      <li> <img src="../../../../assets/images/megafono.png" alt="">39</li>
      <li> <img src="../../../../assets/images/email.png" alt="">57</li>
      <li> <img src="../../../../assets/images/message.png" alt="">68</li>
      <li> <img src="../../../../assets/images/wondicon.png" alt="">15</li>
      <li> <img src="../../../../assets/images/call-cell.png" alt="">58</li>
      <li> <img src="../../../../assets/images/cellphone.png" alt="">15</li>
      <li> <img src="../../../../assets/images/configuration.png" alt=""></li>
      <li (click)="logOut()"> <img src="../../../../assets/images/user.png" alt="" >Cerrar Sesión</li>
    </ul>
</nav>
