$primary-color: #06183f;
$secondary-color: #e4e6e5;
$font-stack: 'Merriweather Sans', sans-serif;
.target {
  display: flex;
  justify-content:center;
  margin-bottom: 8px;
  padding-left: 150px;

  .table{
    background-color: #516b8d9c;
    width: 60%;
    font-family: $font-stack;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.8rem;
    tr {
      border: $secondary-color 0.1px solid;
      td {
        //line-height: px;
        color: $secondary-color;
        border: $secondary-color 0.1px solid;
        border-radius: 10px;
        padding: 10px;
        word-wrap: break-word;
        span {
          color: #856cb3;
          font-weight: 600;
        }
      }
    }
  }
}




