<div class="side-menu">
  <a>
    <img src="../../../../assets/images/dashboard.png" alt="Dashboard">
    <span> Dashboard </span>
  </a>
  <a>
    <img src="../../../../assets/images/megafono.png" alt="Campañas">
    <span>Campañas</span>
  </a>
  <a>
    <img src="../../../../assets/images/personas.png" alt="Pacientes">
    <span>Pacientes</span>
  </a>
  <a>
    <img src="../../../../assets/images/notepad.png" alt="Programas">
    <span>Programas</span>
  </a>
  <a>
    <img src="../../../../assets/images/location.png" alt="Monitoreo">
    <span>Monitoreo</span>
  </a>
  <a>
    <img src="../../../../assets/images/stats_icon.png" alt="Reportes y Estadísticas">
    <span>Reportes y Estadísticas</span>
  </a>

  <label for="menu" class="menu">
    <img src="../../../../assets/images/arrowbackbutton_79955.png" alt="menú">
  </label>

</div>
